body {
  background: #c0c0c0;
  font-family: Arial, sans-serif;
  margin: 20px;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
footer {
  padding: 0 10px;
  background: #c0c0c0;
  border: 2px outset #fff;
  font-size: 12px;
  width: 100%;
}
